@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* color variables */

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-brand-brown: #a18268;
  --color-brand-w-y: #cfcfbc;
}

/* global style */
*,
*::after,
*::before {
  box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* section main */

.section {
  padding: 48px 0px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0px auto;
  padding: 0px 24px;
}

.section-title {
  color: var(--color-primary-dark);
  line-height: 1.3;
  font-size: 64px;
  font-weight: 900;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* button */

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
  transition: color 0.3s, background-color 0.3s;
}

.button:hover {
  background-color: var(--color-primary-light);
  color: var(--color-brand-dark);
}

/* link */

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-light);
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.header-item {
  margin-right: 64px;
}

/* hero */

.hero-section {
  padding: 272px 0px;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/hero-bkg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* advantages */

.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0px;
}

.advantages-list {
  font-size: 20px;
  font-weight: 300;
  padding: 0px 0px;
  /* text-align: center ; */
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
}

/* traditions-section */

.traditions-text .uppercase {
  text-transform: uppercase;
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .brand {
  text-transform: none;
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text.limeted {
  max-width: 335px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-photo {
  border-radius: 400px 400px 0 0;
}

/* chefs-section */

.chefs-main-title {
  display: block;
  margin-bottom: 80px;
  margin: 0 auto 80px;
  position: relative;
}

.chefs-main-title::after,
.chefs-main-title::before {
  width: 352px;
  border: 2px solid var(--color-brand-w-y);
  content: '';
  position: absolute;
  bottom: 24px;
}

.chefs-main-title::after {
  right: 0;
}

.chefs-main-title::before {
  left: 0;
}

.chef-text p {
  margin-bottom: 32px;
}

.chef-text p:last-child {
  margin-bottom: 0px;
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chefs-card {
  display: flex;
  gap: 30px;
}

.chefs-title {
  color: var(--color-primary-dark);
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-brand-brown);
}

/* formats-sections */

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-title {
  /* color: var(--color-primary-light); */

  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  /* color: var(--color-primary-light); */
  font-size: 14px;
  font-weight: 300;
}

.formats-main-title {
  margin-bottom: 80px;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.format-card {
  height: 444px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 16px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.carousel-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0px;
  border: 1px solid var(--color-primary-dark);
  fill: var(--color-primary-dark);
  flex-shrink: 0;
  transition: color 0.3s, background-color 0.3s;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* contacts-section */

.contacts-title {
  margin-bottom: 16px;
}

.contacts-section {
  padding-bottom: 96px;
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.contact-form {
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

/* foooter */

.footer-section {
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-bkg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0px;
  position: relative;
}

.footer-section::after,
.footer-section::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
}

.footer-section::after {
  background-image: url('../images/decor-bread-large.png');
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-section::before {
  background-image: url('../images/decor-bread-smal.png');
  width: 180px;
  height: 120px;
  left: 0;
}

.footer-container {
  display: flex;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

/* address-link */

.address-list,
.address-info {
  flex-grow: 1;
  gap: 20px;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
  font-weight: 500;
  text-decoration: none;
}

.address-copyright-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-brand-brown);
  text-decoration: none;
}

.address-icon {
  fill: var(--color-primary-light);
  cursor: pointer;
}

.address-icon:hover {
  fill: var(--color-brand-light);
}

.address-info {
}

/* Modal */

.beackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #31261a66;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  max-width: 880px;
  max-height: 880px;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  position: relative;
  padding: 128px;
  padding-bottom: 0;
  overflow-y: auto;
}

/* .beackdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

.modal-btn-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 40px;
  right: 40px;
}

/* form */

.form-label {
  position: absolute;
  left: 42px;
  top: 16px;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-brand-brown);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand-light);
  outline: none;
}

.form-field {
  margin-bottom: 32px;
  position: relative;
}

.form-input::placeholder {
  color: var(--color-brand-brown);
  font-size: 16px;
  line-height: 1.17;
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.forms-term {
  max-width: 210px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
}

.forms-term-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
