@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'); /
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'); 
}
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-brand-brown: #a18268;
}

/* global style */

body {
  color: var(--color-primary-dark);
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
ul {
  list-style: none;
}

address {
  font-style: normal;
}

/* button */

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* link */

.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* hero */

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* advantages */

.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
  /* text-align: center ; */
}

/* upper section */

.section-title {
  color: var(--color-primary-dark);
  line-height: 1.3;
  font-size: 64px;
  font-weight: 900;
}
.section-title .accent {
  color: var(--color-brand-dark);
}

/* traditions-section */

.traditions-text .brand-uppercase {
  text-transform: uppercase;
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .brand {
  text-transform: none;
  color: var(--color-brand-light);
  font-weight: 600;
}

/* chefs-section */

.chefs-title {
  color: var(--color-primary-dark);
  font-size: 40px;
  font-weight: 600;
}

/* formats-titl */

.formats-title {
  color: var(--color-primary-light);
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
}

/* address-link */

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
  font-weight: 500;
  text-decoration: none;
}

.address-copyright-text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
  color: var(--color-brand-brown);
  text-decoration: none;
}
