*,
*::after,
*::before {
  box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0%;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.img {
  display: block;
  min-width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0px auto;
  padding: 0px 24px;
}
