*,
*::after,
*::before {
  box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.section {
  padding: 48px 0px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0px auto;
  padding: 0px 24px;
}

.section-title {
  color: var(--color-primary-dark);
  line-height: 1.3;
  font-size: 64px;
  font-weight: 900;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}
