// Main
@import './_base.scss';
@import './utils/fonts';
@import './utils/utils';
@import './utils/variables';
@import './utils/texts';

// Components
@import './components/address-link';
@import './components/buttons';
@import './components/carousel';
@import './components/chef-card';
@import './components/format-card';
@import './components/input';
@import './components/links';

// layouts
@import './layouts/advantage-section';
@import './layouts/chefs-section';
@import './layouts/contacts-section';
@import './layouts/sections';
@import './layouts/footer-section';
@import './layouts/forms-terms';
@import './layouts/formats-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/mobile-menu';
@import './layouts/modals';
@import './layouts/traditions-section';

/* Настройка вида CheckBox */

/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: green;                           
}

.checkbox-label {
  padding-left: 25px;
}

.checkbox-label::before {
  width: 16px;
  height: 16px;
  position: absolute;
  content: '';
  border: solid var(--color-primary-dark) 2px;
  top: 0;
  left: 0;
  margin-top: 5px;
  border-radius: 2px;
} */

/* .checkbox-input:checked + .checkbox-label::before {
  background-color: green;                           
  } вместо цвета можно добавить картинку аля bkg-image: url('') */
