.chefs-section {
  &__title {
    margin: 0 auto 24px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;
      position: relative;
    }

    &::after,
    &::before {
      width: 352px;
      border: 2px solid var(--color-brand-w-y);
      content: '';
      position: absolute;
      bottom: 24px;
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }

  &__list {
    flex-direction: column;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 40px 30px;
    }
  }

  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
