.contacts-section {
  padding-bottom: 96px;

  &__container {
    flex-direction: column;
    display: flex;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__form-field {
    margin-bottom: 24px;
    position: relative;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }

  &__map {
    height: 176px;
    margin: 0 -24px;
    flex-shrink: 0;
    border: none;
    border-radius: 0;

    @media screen and (min-width: $bp-tablet) {
      width: 320px;
      height: 500px;
      margin: auto;
      border-radius: 16px;
    }
    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 596px;
    }
  }
}
