.button {
  display: block;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  font-weight: 600;
  padding: 16px 32px;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-light);
  color: var(--color-brand-dark);
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

// .button:disabled {
//   color: gray;
//   background-color: lightgray;
//   border-color: currentColor;
//   cursor: not-allowed;
// }
