.carousel-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0px;
  border: 1px solid var(--color-primary-dark);
  fill: var(--color-primary-dark);
  flex-shrink: 0;
  transition: color 0.3s, background-color 0.3s;

  &.next {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
  }
}
