.pagination {
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;

  &__button {
    padding: 0;
    border: 0;
    width: 12px;
    height: 12px;
    background-color: var(--color-brand-brown);
    border-radius: 50%;

    &--active {
      background-color: var(--color-brand-dark);
      z-index: 1;
    }
  }
}
