:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-brand-brown: #a18268;
  --color-brand-w-y: #cfcfbc;
}
