.address-list,
.address-info {
  flex-grow: 1;
  gap: 20px;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
  font-weight: 500;
  text-decoration: none;
}

.address-copyright-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-brand-brown);
  text-decoration: none;
}

.address-icon {
  fill: var(--color-primary-light);
  cursor: pointer;
}

.address-icon:hover {
  fill: var(--color-brand-light);
}

.address-info {
}
