.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0px;
}

.advantages-list {
  font-size: 20px;
  font-weight: 300;
  padding: 0px 0px;
  /* text-align: center ; */
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
}
