.contacts-title {
  margin-bottom: 16px;
}

.contacts-section {
  padding-bottom: 96px;
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.contact-form {
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
