.form-label {
  position: absolute;
  left: 42px;
  top: 16px;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-brand-brown);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand-light);
  outline: none;
}

.form-field {
  margin-bottom: 32px;
  position: relative;
}

.form-input::placeholder {
  color: var(--color-brand-brown);
  font-size: 16px;
  line-height: 1.17;
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.forms-term {
  max-width: 210px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
}

.forms-term-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
