.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 444px;
  border-radius: 16px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  transition: transform 0.3s;

  &__title {
    color: var(--color-primary-light);
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    color: var(--color-primary-light);
    font-size: 14px;
    font-weight: 300;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index: -1;
  }

  &:hover {
    transform: scale(1.05);
  }
}
