.traditions-text .uppercase {
  text-transform: uppercase;
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .brand {
  text-transform: none;
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text.limeted {
  max-width: 335px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-photo {
  border-radius: 400px 400px 0 0;
}
