.advantages-section {
  padding: 40px 0px;

  @media screen and (min-width: $bp-desktop) {
    background-color: var(--color-brand-light);
    padding: 16px 0px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 40px;
    // align-items: center;
    background-color: var(--color-brand-w-y);
    border-radius: 24px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      background-color: transparent;
      padding: 0;
    }
  }

  &__item {
    font-size: 14px;
    font-weight: 300;

    color: var(--primary-dark);
    @media screen and (min-width: $bp-desktop) {
      color: var(--color-primary-light);
      font-size: 20px;
    }
  }
}
