.section {
  padding: 48px 0px;

  &__title {
    color: var(--color-primary-dark);
    line-height: 1.3;
    font-size: 64px;
    font-weight: 900;

    &--centered {
      text-align: center;
    }
  }
}
