.section {
  padding: 20px 0px;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0px;
  }

  &__title {
    line-height: 1.5;
    font-size: 32px;
    font-weight: 900;

    @media screen and (min-width: $bp-tablet) {
      line-height: 1.3;
      font-size: 64px;
    }

    &--centered {
      text-align: center;
    }
  }
}
